<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="product.js"></script>
  <title>Main</title>
</head>
<body>
  <h1>상품 메뉴</h1>
  <ui>
    <li><a href="/productList">상품조회</a></li>
    <li><a href="/productUnregister">상품제거</a></li>
    <li><a href="/productChanger">상품수정</a></li>
    <li><a href="/productRegister">상품등록</a></li>
  </ui>
  <h1>상품 제거</h1>
  <p>상품 ID : <input id = "product-id"></p>
  <button th:onclick="productUnregister()">
    상품 제거
  </button>
</body>
</html>